<div class="container text-center my-5 bg-light text-dark">
    <div class="row">
        <h1 class="h1-strong">{{title}}</h1>
        <p>Disfruta de las publicaciones de tus amigos y comparte tu vida :) </p>
        <div class="col-md-6 offset-md-3">
            <span class="mx-2"><a href="#" class="btn btn-success btn-lg" role="button"> Mi perfil</a></span>
            <span class="mx-2"><a href="#" class="btn btn-danger btn-lg" role="button"> Timeline</a></span>
            <span class="mx-2"><a [routerLink]="['/gente']" [routerLinkActive]="['active']" class="btn btn-warning btn-lg" role="button"> Gente</a></span>
            
        </div>
    </div>
</div>