<div class="col-12 my-3">
    <div class="container ">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="{{url+'/mostrar-imagen-perfil-nameImage/'+user.imagen}}" alt="Imagen perfil"
                                    class="img-fluid" style="width: 150px; border-radius: 10px;" />
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5 class="mb-1 text-capitalize fw-bolder">
                                    <a href="#" class="text-decoration-none">{{user.name}} {{user.surname}}</a>
                                </h5>
                                <p class="mb-2 pb-1">
                                    Nick: {{ user.nick }}
                                </p>
                                <div class="d-flex justify-content-start rounded-3 p-2 mb-2 bg-body-tertiary">
                                    <div>
                                        <p class="small text-muted mb-1">
                                            Followin
                                        </p>
                                        <p class="mb-0">{{ stats.follow }}</p>
                                    </div>
                                    <div class="px-3">
                                        <p class="small text-muted mb-1">
                                            Followers
                                        </p>
                                        <p class="mb-0">{{ stats.followme }}</p>
                                    </div>
                                    <div>
                                        <p class="small text-muted mb-1">
                                            Publicasiones
                                        </p>
                                        <p class="mb-0">{{stats.publication}}</p>
                                    </div>
                                </div>
                                <!--
<div class="d-flex pt-1">
<button type="button" data-mdb-button-init data-mdb-ripple-init
class="btn btn-secondary me-1 flex-grow-1">
Chat
</button>
<button type="button" data-mdb-button-init data-mdb-ripple-init
class="btn btn-primary flex-grow-1">
Follow
</button>
</div>
-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>