<div class="col-12 my-3">
    <div class="container ">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="{{url+'/mostrar-imagen-perfil-nameImage/'+user.imagen}}" alt="Imagen perfil"
                                    class="img-fluid" style="width: 150px; border-radius: 10px;" />
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5 class="mb-1 text-capitalize fw-bolder">
                                    <a href="#" class="text-decoration-none">{{user.name}} {{user.surname}}</a>
                                </h5>
                                <p class="mb-2 pb-1">
                                    Nick: {{ user.nick }}
                                </p>
                                <div class="d-flex justify-content-start rounded-3 p-2 mb-2 bg-body-tertiary">
                                    <div>
                                        <p class="small text-muted mb-1 mx-1">
                                            Followin
                                        </p>
                                        <p class="mb-0 text-center">{{ stats.follow }}</p>
                                    </div>
                                    <div class="px-3">
                                        <p class="small text-muted mb-1">
                                            Followers
                                        </p>
                                        <p class="mb-0 text-center">{{ stats.followme }}</p>
                                    </div>
                                    <div>
                                        <p class="small text-muted mb-1">
                                            Publicasiones
                                        </p>
                                        <p class="mb-0 text-center">{{stats.publication}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-3">
                            <div class="alert alert-success" *ngIf="status=='success'">
                                {{msg}}
                            </div>
                            <div class="alert alert-danger" *ngIf="status=='error'">
                                El registro no se ha podido Guardar 
                            </div>

                            <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm); sendPublication($event)">
                                <label for="exampleFormControlTextarea1" class="form-label">¿Que estas pensando?</label>
                                <textarea class="form-control mb-3" name="text" 
                                #text="ngModel" [(ngModel)]="publication.text" 
                                id="exampleFormControlTextarea1" rows="3" required></textarea>
                                <span *ngIf="!text.valid && text.touched" class="text-danger fw-bolder">El texto de la publicacion es obligatorio</span>
                                <div class="my-3">
                                    <label for="formFile" class="form-label">Sube una foto en tu post</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>

                                <input type="submit" value="Enviar" class="btn btn-primary mt-3" 
                                [disabled]="!newPubForm.form.valid" />
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>