<div class="container my-5 bg-light text-dark">
    <div class="row">
        <div class="col-6">
            <div class="row my-4">
                <div class="col-md-6">
                    <h1 class="h1-strong">{{title}}</h1>
                </div>
                <div class="col-md-6 text-end">
                    <button class="btn btn-success" (click)="refresh()">Refresh Timeline</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!--Componente de la imagen de los usuarios-->
        <div class="my-3 col-md-6">
            <div *ngIf="!total">
                {{msg}}
            </div>

            <span *ngIf="total">
                <div class="col-12 my-3" *ngFor="let publication of publications"><!--Aqui se recorre y contruyen los perfiles-->
                    <div class="card p-4" style="border-radius: 15px;">
                        <div class="card-body">
                            <div class="d-flex">

                                <div class="flex-shrink-0">
                                    <img src="{{url+'/mostrar-imagen-perfil-nameImage/'+publication.user.imagen}}"
                                    class="img-fluid rounded-circle"
                                    style="width: 100px;" alt="Avatar" />
                                    
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mb-1">
                                        <a href="#" class="text-danger text-decoration-none fs-6 mx-3 card-title text-capitalize">
                                            {{publication.user.name}} {{publication.user.surname}}
                                        </a>
                                    </h5>
                                    <p class="card-text mx-3 fw-bolder fs-5">
                                        {{publication.text}}
                                    </p>
                                    <div>
                                        <p class="text-end fs-6 fw-lighter datePublication">{{ publication.create_at | dateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}</p>
                                        <p class="text-end fs-6 fw-lighter datePublication">{{ publication.create_at | dateFormat:'':true }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--Fin de construccion de los perfiles-->
            </span>
        </div>

        <!--Cargamos el componente del sidebar-->
        <div class="my-3 col-md-6">
            <sidebar (sended)="refresh()"></sidebar>
        </div>
        <div class="pb-4">
            <span *ngIf="total">
                <button class="btn btn-primary" (click)="viewMore()" *ngIf="!noMore">Ver mas Publicaciones</button>
            </span>
        </div>
    </div>
</div>