<div class="container my-5 bg-light text-dark">
<div class="row">
        <div class="col-6">
            <div class="row my-4">
                <div class="col-md-6">
                    <h1 class="h1-strong">{{title}}</h1>
                </div>
                <!--  
                <div class="col-md-6 text-end">
                    <button class="btn btn-success" (click)="refresh()">Refresh Timeline</button>
                </div>
                -->
            </div>
        </div>
    </div>

    <div class="row">
        <!--Componente de la imagen de los usuarios-->
        <div class="my-3 col-md-6">
            <div *ngIf="!total">
                {{msg}}
            </div>

            <span *ngIf="total">
                <div class="col-12 my-3" *ngFor="let publication of publications">
                    <!--Aqui se recorre y contruyen los perfiles-->
                    <div class="card p-4" style="border-radius: 15px;">
                        <div class="card-body">
                            <div class="d-flex">

                                <div class="flex-shrink-0">
                                    <img src="{{url+'/mostrar-imagen-perfil-nameImage/'+publication.user.imagen}}"
                                        class="img-fluid rounded-circle" style="width: 100px;" alt="Avatar" />

                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mb-1">
                                        <a [routerLink]="['/profile', publication.user._id]"
                                            class="text-danger text-decoration-none fs-6 mx-3 card-title text-capitalize">
                                            {{publication.user.name}} {{publication.user.surname}}
                                        </a>
                                    </h5>
                                    <p class="card-text mx-3 fw-bolder fs-5">
                                        {{publication.text}}
                                    </p>
                                    <div class="flex-shrink-0 text-end my-4 bg-image hover-zoom" role="button"
                                        *ngIf="publication.file">
                                        <a class="" data-bs-toggle="modal" href="#staticBackdrop_{{publication.uid}}">

                                            <img src="{{url+'/publication/show-image-publication/'+publication.uid}}"
                                                alt="Imagen perfil" class="img-fluid"
                                                style="width: 150px; border-radius: 10px;" />
                                        </a>


                                        <!-- Modal Para mostrar Iamgen-->
                                        <div class="modal fade" id="staticBackdrop_{{publication.uid}}"
                                            data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <img src="{{url+'/publication/show-image-publication/'+publication.uid}}"
                                                            alt="Imagen perfil" class="img-fluid"
                                                            style="width: 800px; border-radius: 10px;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Fecha de las publicaciones-->
                                    <div>
                                        <p class="text-end fs-6 fw-lighter datePublication">{{ publication.create_at |
                                            dateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}</p>
                                        <p class="text-end fs-6 fw-lighter datePublication">{{ publication.create_at |
                                            dateFormat:'':true }}</p>
                                    </div>

                                    <!--Borrar publicacion-->
                                    <div class="text-end" *ngIf="user.id == publication.user._id">
                                        <a type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        href="#deletePublication_{{publication.uid}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                            </svg>
                                            Borrar publicacion
                                        </a>

                                        <!-- Modal Para Borrar Publicacion -->
                                        <div class="modal fade" id="deletePublication_{{publication.uid}}" data-bs-backdrop="static"
                                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                                            ¿Seguro que quieres eliminar la publicación?
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body text-start">
                                                        Si la borras no podras recuperarla
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deletePublication(publication.uid)">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                                            </svg>
                                                            Borrar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--Fin de construccion de los perfiles-->
            </span>
        </div>

        <!--Cargamos el componente del sidebar-->
        <div class="my-3 col-md-6">
            <sidebar (sended)="refresh()"></sidebar>
        </div>
        <div class="pb-4">
            <span *ngIf="total">
                <button class="btn btn-primary" (click)="viewMore()" *ngIf="!noMore">Ver mas Publicaciones</button>
            </span>
        </div>
    </div>
</div>