<div class="container my-5 bg-light text-dark">
    <div class="row text-center">
        <h1 class="h1-strong">{{title}}</h1>

        <div class="alert alert-success" *ngIf="status=='success'">
            Se han actualizado los datos de forma correcta.
        </div>
        <div class="alert alert-danger" *ngIf="status=='error'">
            {{msg}}
        </div>
    </div>
    <div class="row">
        <form #userEditForm="ngForm"  (ngSubmit)="onSubmit(userEditForm)" class="col-lg-10">
            <p>
                <label for="">Nombre</label>
                <input type="text" name="name" #name="ngModel"[(ngModel)]="user.name" class="form-control" required>
                <span *ngIf="!name.valid && name.touched" class="btn btn-outline-danger">El nombre es obligatorio</span>
            </p>
    
            <p>
                <label for="">Apellidos</label>
                <input type="text" name="surname" #surname="ngModel"[(ngModel)]="user.surname" class="form-control" required>
                <span *ngIf="!surname.valid && surname.touched" class="btn btn-outline-danger">El Apellidos es obligatorio</span>
            </p>
    
            <p>
                <label for="">Bio</label>
                <input type="text" name="bio" #bio="ngModel"[(ngModel)]="user.bio" class="form-control">
            </p>
            <p>
                <label class="form-label">Cambia la imagen de tu avatar</label>
                <input class="form-control" type="file" id="formFile" name="archivo" (change)="fileChangeEvent($event)">
            </p>
            <div *ngIf="newImagen" class="my-3">
                <img src="{{url+'/mostrar-imagen-perfil-nameImage/'+newImagen}}" alt="" class="rounded-square" style="width: 100px;">
            </div>
            <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!userEditForm.form.valid">
        </form>
    </div>
</div>